<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eugene.mapper.CouponMapper">

    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mall_coupon_db.t_coupon0 (coupon_template_code, code, user_id, mobile, status, begin_time, end_time,
        create_time, use_time, update_time)
        VALUES
        <foreach collection="coupons" item="coupon" separator=",">
            (#{coupon.couponTemplateCode},#{coupon.code},#{coupon.userId},#{coupon.mobile},#{coupon.status},#{coupon.beginTime},#{coupon.endTime},#{coupon.createTime},#{coupon.useTime},#{coupon.updateTime})
        </foreach>
    </insert>

</mapper>
